name: Release Build and Push Docker Image

on:
    release:
            types: [released]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
      attestations: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # important parameter

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Tools (yq)
        # yq is required for Chart.yaml update
        run: sudo snap install yq

    #   - name: Update Helm Chart.yaml appVersion
    #     run: |
    #       RELEASE_TAG=${{ github.event.release.tag_name }}
    #       CHART_PATH="charts/sibyl/Chart.yaml"

    #       echo "Updating $CHART_PATH appVersion to: $RELEASE_TAG"

    #       # yq is used to reliably update the YAML structure.
    #       yq -i ".appVersion = \"$RELEASE_TAG\"" "$CHART_PATH"

      - name: Extract medata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4.3.0
        with:
            images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            tags: |
                type=schedule
                type=semver,pattern={{version}}
                type=semver,pattern={{major}}.{{minor}}
                type=semver,pattern={{major}}
                type=ref,event=branch
                type=ref,event=pr
                type=ref,event=tag
                type=sha
            labels: |
                org.opencontainers.image.title=com.projectterris.photoblog
                org.opencontainers.image.description=Photo Blog
                org.opencontainers.image.vendor=project-terris

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4.0.0
        id: push
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

    #   - name: Setup Helm
    #     uses: azure/setup-helm@v4

    #   - name: "Setup Git Values"
    #     run: |
    #       git config --global user.email "ben@soernet.ca"
    #       git config --global user.name "bensoer"

    #   - name: Releasing Helm Chart
    #     uses: helm/chart-releaser-action@v1.7.0
    #     with:
    #       # The branch to push the packaged charts and index.yaml to
    #       pages_branch: gh-pages

    #     env:
    #       # GITHUB_TOKEN is automatically provided by GitHub Actions
    #       CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}